* {
  box-sizing: border-box;
}

body {
  width: 300px;
  height: 400px;

  font-size: 16px;
}

label {
  display: block;
  margin: 15px 0px 5px;
}

textarea::placeholder {
  text-align: center;
  vertical-align: center;
}

#app {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
}

.config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.config__top {
  margin-bottom: 30px;
}

.config__top input {
  width: 160px;
  height: 25px;
}

.config__bottom__check-btn {
  width: 80px;
  height: 30px;

  background-color: transparent;
  border: 1px solid black;
  border-radius: 15px;

  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  padding: 10px;

  overflow-y: scroll;
}

.main__top {
  width: 100%;
  margin-bottom: 10px;
}

.main__top__todo-container {
  margin: 10px 5px;
}

.main__top__todo-container input {
  width: 98.5%;
  height: 25px;
}

.main__content__todo-container {
  margin: 10px 5px;
}

.todo-editor-container {
  width: 100%;

  padding-bottom: 10px;
}

.todo-editor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  border: 1px solid black;
}

.todo-editor__collapse-form__write-btn {
  width: 100%;
  border: 0px;

  text-align: left;

  cursor: pointer;
}

.todo-editor__hidden {
  display: none;
}

.todo-editor__active {
  width: 100%;
}

.todo-editor__active-top-form {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-start;

  padding: 3px;
}

.todo-editor__active-form__title-input {
  border: 0px;

  font-size: 22px;
}

.todo-editor__active__label-add-btn {
  border: 0px;
  cursor: pointer;
}

.todo-editor__active-bottom-form {
  width: 100%;

  padding: 3px;
}

.todo-editor__active__contents {
  width: 100%;
  height: 100%;
  min-height: 50px;

  padding: 0px;

  border: 0px;

  resize: none;
  overflow-y: hidden;
}

.todo-items {
  width: 100%;
  border: 1px solid black;

  padding: 5px;
  overflow-y: scroll;
}

.todo-item {
  width: 100%;
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 5px;

  cursor: pointer;
}

.todo-item-top {
  width: 100%;
  height: 100%;
}

.todo-item__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  flex: 0.05;
  position: relative;
  top: -15px;
}

.round label {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;

  border: 1px solid #ccc;
  border-radius: 50%;

  background-color: #fff;
  cursor: pointer;
}

.round label:after {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 4px;
  width: 8px;

  border: 2px solid #fff;
  border-top: none;
  border-right: none;

  content: "";
  opacity: 0;
  transform: rotate(-45deg);
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.todo-item__form__title {
  flex: 0.9;
  text-align: center;
}

.todo-item__form_close {
  display: none;
}

.todo-item__form_open {
  display: flex;
  flex: 1;
}

.todo-item__form__contents {
  flex: 0.98;
  padding-top: 10px;
  margin-bottom: 10px;
}

.todo-item__form__delete-btn {
  flex: 0.05;
  text-align: center;

  border: none;
  line-height: 8px;
  cursor: pointer;
}

.label-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.label-item {
  position: relative;
  width: 25px;
  height: 14px;
  margin: 0px 2px;

  background: black;
  color: white;
  font-size: 8px;
  text-align: center;
  border: 0px;
}

.label-item:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 7px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.label-item:before {
  content: "";
  position: absolute;
  right: -7px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 7px solid black;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
