* {
  box-sizing: border-box;
}

body {
  width: 300px;
  height: 400px;

  font-size: 16px;
}

label {
  display: block;
  margin: 15px 0px 5px;
}

textarea::placeholder {
  text-align: center;
  vertical-align: center;
}

#app {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
}

.config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.config__top {
  margin-bottom: 30px;
}

.config__top input {
  width: 160px;
  height: 25px;
}

.config__bottom__check-btn {
  width: 80px;
  height: 30px;

  background-color: transparent;
  border: 1px solid black;
  border-radius: 15px;

  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  overflow-y: scroll;
}

.main__top {
  width: 100%;
  margin-bottom: 10px;
}

.main__top__todo-container {
  margin: 10px 5px;
}

.main__top__todo-container input {
  width: 98.5%;
  height: 25px;
}

.main__content__todo-container {
  margin: 10px 5px;
}

.todo-editor-container {
  width: 100%;
  padding: 10px;
}

.todo-editor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  border: 1px solid black;
}

.todo-editor__collapse-form__write-btn {
  width: 100%;
  border: 0px;

  text-align: left;

  cursor: pointer;
}

.todo-editor__hidden {
  display: none;
}

.todo-editor__active {
  width: 100%;
}

.todo-editor__active-top-form {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-start;

  padding: 3px;
}

.todo-editor__active-form__title-input {
  border: 0px;

  font-size: 22px;
}

.todo-editor__active__label-add-btn {
  border: 0px;
  cursor: pointer;
}

.todo-editor__active-bottom-form {
  width: 100%;

  padding: 3px;
}

.todo-editor__active__contents {
  width: 100%;
  height: 100%;

  padding: 0px;

  line-height: 1.6;
  resize: none;
  overflow-y: hidden;
}

.todo-item {
  border: 1px solid black;
  margin-bottom: 10px;
  cursor: pointer;
  height: auto;
}

.todo-item__form {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.todo-item__form__done-box {
  flex: 0.05;
}

.todo-item__form__title {
  flex: 0.9;
  text-align: center;
}

.todo-item__form_close {
  display: none;
}

.todo-item__form_open {
  display: flex;
  flex: 1;
}

.todo-item__form__contents {
  flex: 0.98;
  padding-top: 10px;
  margin-bottom: 10px;
}

.item__form__delete-btn {
  flex: 0.05;
  text-align: center;
}
